.review-listing {
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
}

.review-header > svg {
    margin-top: 10px;
    margin-right: 5px;
}

.review {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}