.dropzone {
    outline: 1px dashed rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 20px;
    background-color: whitesmoke;
    outline-offset: -10px;
    text-align: center;
    cursor:pointer;
}
