.albatross-logo {
  max-height: 56px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 6px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.user-icon {
  display: flex;
}

li {
  max-height: 60px;
}

.material-icon {
  height: 26px;
  width: 26px;
  max-width: 26px;
  max-height: 26px;
  transform: translateY(8px);
  color: white;
  fill: white;
}

.person-icon {
  transform: translateY(18px);
  margin-right: 5px;
}

#searchBox {
  padding-left: 1rem;
  width: calc(100% - 1rem);
  color: white;
  transition: all 0.3s;
}

#searchBox:focus {
  color: black;
  transition: all 0.3s;
}
