.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 5.5rem; /* Footer height */
}

.loader {
    margin-top: 50px;
}

.loader > div {
    display: block;
    margin: auto;
}


.container {
    max-width: 960px !important;
}
