.carousel {
    max-width: 640px;
    display: block;
    margin: auto;
}

.app-info:first-of-type {
    margin-left: 0;
}

.app-info {
    margin-left: 5px;
    margin-right: 5px;
    color: #646464;
}

.app-header-container {
    display: flex;
}

.app-icon {
    max-width: 64px;
    max-height: 64px;
    margin-top: 10px;
}

.app-install-button {
    float: right;
    margin-top: 25px;
}


.app-description {
    white-space: pre-wrap;
}


.app-author {
    font-size: 0.8em;
    color: black;
}
