.app-listing {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  padding-top: 20px;
}

@media screen and (max-width: 992px) {
  .app-listing {
    justify-content: center;
  }
}
